<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%=campground._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          value="<%= campground.title %> "
          name="campground[title]"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          value="<%= campground.location %>"
          id="location"
          name="campground[location]"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            name="campground[price]"
            placeholder="Price"
            aria-label="Price"
            aria-describedby="price-label"
            required
            value="<%=campground.price%>"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          id="description"
          name="campground[description]"
          class="form-control"
          required
        >
        <%=campground.description%>
        </textarea>

        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <div class="form-file custom-file">
          <label for="image" class="form-label custom-file-label"
            >Add more image(s)...</label
          >
          <input
            class="form-control"
            type="file"
            id="image"
            name="image"
            multiple
          />
        </div>
      </div>

      <div class="mb-3">
        <% campground.images.forEach(function(img,i){ %>
        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            name="deleteImages[]"
            id="image-<%= i %>"
            value="<%= img.filename %>"
          />
        </div>
        <label for="image-<%= i %>">Delete</label>
        <% }) %>
      </div>

      <div class="mb-3 text-center">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
    <div class="mb-3 text-center">
      <a href="/campgrounds/<%=campground._id  %> ">Back to Campground</a>
    </div>
  </div>
</div>
